body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #111; /* Preto ou quase preto */
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #111;
    border-bottom: 2px solid #333;
}

.logo img {
    width: 150px; /* Ajuste conforme necessário */
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 1px solid white;
}

.content {
    text-align: center;
    padding: 20px;
}

.gradient-bar {
    height: 10px;
    background: linear-gradient(to right, orange, red);
}

.buttons-container {
    margin-top: 20px;
}

.login-form, .registration-form {
    max-width: 300px;
    margin: 0 auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 20px;
    background: linear-gradient(to right, orange, red);
    color: white;
    font-weight: bold;
}

.login-button, .signup-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    background: none;
    color: white;
    border-radius: 20px;
    background-clip: padding-box;
}

.login-button {
    border-image: linear-gradient(to right, orange, red);
    border-image-slice: 1;
}

.signup-button {
    border-image: linear-gradient(to right, orange, red);
    border-image-slice: 1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #111;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #333;
}
a{
    text-decoration: none;
    color: white;
}
